<%- include('../partials/header') %>
<h1><%=title%></h1>
 
</p>I graduated from Hazen Highschool Renton Washington, in June 2022, and after that I went into a program called Year-Up (YU). And YU is essentially a program that takes young adults and turns them into young professionals in 1 year. 
         Right now I am currently in the first phase of the program called Learning and Development where they teach us hard skills like HTML, CSS, Javascript, and soft skills about how to be a professional in the business world. After learning and Development I hope to get a internship at a good company and hope to get a lot of experience.</p>
     <p>This site was built using Node.js, Express.js and EJS templates by Brandon Tran</p>
<%- include('../partials/footer') %>
