<%- include('../partials/header') %>
<h1><%=title%></h1>
 
      <p>Another one of my hobbies is Bouldering, or indoor Rock Climbing. I started climbing in June 2021 the highest grade I have ever climbing was a v8 boulder. I climb regularly at SBP (Seattle Bouldering Project) and I use LA Sportiva Solution Comp shoes to climb. In my opinion I think the shoes really matter when you climb, I think using the rental shoes don't do bouldering justice.</p>      
<%- include('../partials/footer') %>