<%- include('../partials/header') %>
<h1><%=title%></h1>
 
      <p>This page is my first work with Node.js, Express.js and EJS. At the top you will find things I am interested in.</p>      
<%- include('../partials/footer') %>

