<%- include('../partials/header') %>
<h1><%=title%></h1>
 
      <p>One thing I am interested in is the video game League of Legends. I have been playing the game since I was 9 years old so more than half of my life. I play top lane, I main Fiora, Riven and Camille, and my peak rank was Masters 443LP.</p>
  
<%- include('../partials/footer') %>